<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.mhd.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>com.mhd.Test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mortoza</servlet-name>
        <servlet-class>com.mhd.mortoza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jubair_file</servlet-name>
        <servlet-class>com.mhd.jubair</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/</url-pattern> <!--its a index page if it does not have any url-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mortoza</servlet-name>
        <url-pattern>/mortoza.coshma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jubair_file</servlet-name>
        <url-pattern>/j</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
